/*.bg {
	background-image: url("BARN1 copy.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
	line-height: 1.5;
	color: white;

}*/

#bar{
	background-color: black;
}
#links {
	color: white;
}

* {
    margin: 0;
    padding: 0;
}
 
#container {
    width: 600px;
    margin: 0px auto;
    margin-left: 20%;
}
 
/*Text Sections*/
.section {
    margin: 50px 0;

}
 
.section h1 {
    font: 55px/65px Helvetica, sans-serif;
}
 
.section p {
    font: 15px/25px Helvetica, sans-serif;
}

#nav {
    font: 12px/30px Helvetica, sans-serif;
    text-align: center;
}
 
#nav a {
    background: #444;
    color: #fff;
    margin-right: 50px;
    width: 40px;
    height: 40px;
    float: left;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
}
 
#nav a:hover {
    background: #6fcbf3;
}
 
/*Image*/
#bigPic {
    margin-top: 30px;
}
/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}
 
/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}
 
/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
a {
	color: #FF0000;
}



