              
<div id="home-container">
       
              
 <div id="container">   
              
   <div class="section" id="home-container">
   <div class="imagebox"></div>
    <h1><a name="About-us"></a>About Us</h1>
    <p>The Good Egg Co is family owned and operated with three generation of Pacheco's keeping watch and delivering good eggs straight from the farm.<a href="http://www.glaumeggranch.com/">Glaum Ranch</a> fresh eggs delivered daily and on time to your restaurant and straight to your tables. 
    Your restaurant needs good eggs. We know that, and we've got 'em. We also know that you're busy. That's why The Good Egg Co is taking the guesswork out of egg delivery.
    Get eggs with guaranteed quality. When you need them, Stress free.</p>
   </div>
    
    <div class="section">
    <div class="glam"></div>
     <h1><a name="Product"></a>Products</h1><a href="#">Go to top</a>
     <p>Whats to say. The name speaks for itself. Our product is Eggs.(<a href="/products">Order here</a>) And Good ones at that. We do however also carry <a href="http://www.thepepperplant.com/">Pepper Plant Sauce</a>. Just let us know and we can drop a case for you to try. </p>
    </div>
       
     <div class="section">
     <h1><a name="Contact"></a>Contact Us</h1>
     <p>We prefer that you didn't. We'll contact you.</p>
     </div>
       <a href="#"><%= image_tag "pictures/chicken1.png", class: "chicken" %></a>	
 </div>
</div>

