<div id="nav" class="clearfix">
    <a href="#headline1">About Us</a>
    <a href="#headline2">2</a>
    <a href="#headline3">3</a>
    <a href="#headline4">4</a>
</div>
 
<div id="bigPic">
    <img src="http://lorempixum.com/600/400/city/9">
</div>  
<a href="#linktotop"></a>
<div class="navbar-wrapper" id="bar">

<div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" id="links">Home</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Product</a></li>
            <li><a href="#">Testimonals</a></li>
          </ul>
        </li>
      </ul>
</div>
</div>

<div class="container">
	<h1><span>The Good Egg Co.</span></h1>
	<p>THE SUN RISES. The sun rises. The rooster crows. Good Eggs Delivered</p>

	<a href="http://facebook.com/goodeggsaregood"><%=image_tag("facebook.png") %></a>
	<a href="http://twitter.com/goodeggsaregood" target="blank"> <%=image_tag("twitter.png") %></a>
</div>

<div id="container">    
        <div class="section">
            <h1> <a name="headline1"> About us </h1>
            <p>The Good Egg Co. is family owned and operated. Farm fresh eggs delievered daily and on time. 
           	       Your restaurant needs good eggs. We know that, and we've got 'em. We also know that you're busy. That's why The Good Egg Co. is taking the guesswork out of egg delivery.
	       Get eggs with guaranteed quality when you need them, stress free. </p>
        </div>
         
        <div class="section">
            <h1><a href="headline2">Headline Two</h1>
            <p>Lorem ipsum dolor sit amet...</p>
        </div>
         
        <div class="section">
            <h1><a name="headline3">Headline Three</h1>
            <p>Lorem ipsum dolor sit amet...</p>
        </div>
         
        <div class="section">
            <h1><a name="headline4">Headline Four</h1>
            <p>Lorem ipsum dolor sit amet...</p>
        </div>
    </div>

<a name="linktotop">Back To Top</a>



