<div class="shopping-cart">
<h1>Shopping Cart</h1>
	<%= render "shopping_cart" %>
	<div class="text-right">
		<h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= link_to "Checkout", cart_checkout_path %></h3>
	</div>
</div>
